.App {
  text-align: center;
}

.App-header {
  background-color: black;
  padding: 2rem;
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 3vmin;
  /* margin-bottom: 2rem; */
}
.App-header a {
  text-decoration: none;
  color: white;
}
.App-header a:hover {
  color: hotpink;
}

#App-body {
  margin: 0;
  background-image: url("./img/299720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}

input {
  background: white;
  opacity: 0.65;
}

input:hover {
  background: rgb(66, 178, 230);
  border: 2px solid rgb(114, 219, 15);
}

.board-div {
  /* z-index: 1000; */
  margin: 0;
  border: 1px solid transparent;
}

.board {
  padding: 0%;
  width: fit-content;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
}
.field {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
